---
import Shield from './Shield.astro';
---
<nav>
  <div class="inner">
    <a href="/" class="logo">
      <Shield size={34} />
      <span class="logo-word">L&amp;I <span class="logo-word-light">IT-solutions</span></span>
    </a>
    <ul>
      <li><a href="/#leistungen">Leistungen</a></li>
      <li><a href="/#ki">KI-Projekte</a></li>
      <li><a href="/#produkte">Produkte</a></li>
      <li><a href="/#trust">Sicherheit</a></li>
    </ul>
    <a href="/#kontakt" class="nav-cta">Kontakt aufnehmen</a>
  </div>
</nav>
